.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: antiquewhite;

}
.wrapContainer { /*контейнер для карусели и для текста*/
    margin: auto;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-items: center;
    width: 100%; /**/
    min-width: 360px;/**/
}
@media only screen and (max-width: 1100px) {
    .wrapContainer {
        display: flex;
        flex-direction: column;
    }
}
.wrapImg {
    max-width:100%;
    height:auto;
}
.wrapContainerCarousel {
    height: auto;
    width: 100%;
    /*width: 40%;*/
    margin-top: 15px;
}
.wrapContainerContent { /*контейнер для текста слева и градиента*/
    margin-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto; /*!!!*/
    width: 100%;
}

.wrapContainerContentTitle {
    text-align: center;
    margin-top: 15px;
    min-width: 300px;
    width: 50%;
    font-size: 2vh;
    color: black;
}
.wrapContainerContentText {
    text-align: center;
    min-width: 300px;
    width: 50%;
    font-size: 1.5vh;
    color: black;
}

.wrapContainerContentGradient {
    overflow: hidden;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 415px;
    top: 150px;
    background: linear-gradient(12.08deg, #F101BF 2.82%, #0066FF 97.06%);
    opacity: 0.9;
    filter: blur(55px);
    transform: rotate(5.78deg);
}
@media only screen and (max-width: 1100px) {
    .wrapContainerContentGradient {
        width: 100px;
        height: 100px;
        left: 220px;
        top: 210px;
    }
}
/*******************************CAROUSEL**************************************/
.carWrap { /*общий контейнер*/
    height: 352px; /*!!!*/
    width: 70%;
    min-width: 335px; /***/
    position: relative;
    z-index: 4;
}
@media only screen and (max-width: 1400px) {
    .carWrap {
        height: auto;
        width: 70%;
        min-height: 335px;
        margin: auto;
    }
}
@media only screen and (max-width: 1200px) {
    .carWrap {
        width: 85%;
    }
}
@media only screen and (max-width: 1100px) {
    .carWrap {
        width: 70%;
    }
}
@media only screen and (max-width: 990px) {
    .carWrap {
        width: 70%;
    }
}
@media only screen and (max-width: 770px) {
    .carWrap {
        width: 85%;
    }
}
@media only screen and (max-width: 550px) {
    .carWrap {
        width: 90%;
    }
}
@media only screen and (max-width: 460px) {
    .carWrap {
        width: 100%;
    }
}
.carWrapImg { /*контейнер для картинки, она поверх*/

    top: -3%;
    right: 26%;
    width: 37.8%;
    height: auto; /*это для пропорционального масштабирования*/
    position: absolute;
    z-index: 6;
}
.carWrapCar { /*контейнер для карусели, она внизу*/
    position: relative;
    z-index: 1;
    height: 90%;
}

.carWrapImgPhoto { /*сама картинка головы*/
    height: auto;
    width: 70%;

}
.carWrapCarSlideText {
    font-size: 14px;
    color: black;
    line-height: 15px;
}
.wrapBelt {
    background-color: wheat;
    border: solid 1px grey ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.beltText {
    position: relative;
    left: -70%;
    animation-name: BeltTextAnimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@media only screen and (max-width: 1100px) {
    .beltText {
        animation-duration: 17s;
    }
}

@keyframes BeltTextAnimation {
    0% {
        left: -70%;
    }
    100% {
        left: 170%;
    }
}

.beltText:hover{
    animation-play-state: paused;
}
/******************************* CONTACT **************************************/
.wrapContact {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapContactContainer {
    width: 100%;
    margin: 5% auto 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    border: solid 1px grey ;
    border-radius: 10px;
    padding: 2%;
}
.wrapContactCard {
    max-width: 280px;
    background-color: wheat;
}
/******************************* Money Section *********************************/

.wrapMoney {
    margin: auto;
    width: 90%;


}
.wrapMoneyContainer {
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 1px gray;
    border-radius: 5px;
    padding: 2%;
}

.wrapMoneyForm { /*формма с инпутами и кнопками*/
    width: 60%;
}
.wrapMoneyControlInput {
    width: 80%
}
.wrapMoneyState {
    height: 200px;
}

.wrapMoneyControlButton { /*контейнер для кнопок*/
    max-width: 60%;
    display: flex;
}
.squareButton { /*кнопки + и - */
    margin-left: 4%;
    width: 20%;
    min-width: 40px;
}
.clearButton { /*кнопки + и - */
    margin-left: 4%;
}

.wrapMoneyStateBox {
    display: flex;
    min-height: 130px;
}
.wrapMoneyStateTitle {
    text-align: center;
}
.wrapMoneyStateBoxText {
    margin-top: 15%;
}
.wrapMoneyReaction { /*контейнер с картинкой реакции*/
    position: relative;
    margin-left: 3%;
    width: 150px;
}
.wrapMoneyReactionImg { /*картинка реакции*/
    position: absolute;
    display: block;
    width: 150px;
}
.reactionImgTop {
    visibility: visible;

}
.reactionImgBot {
    visibility: hidden;
}
/***********************Message**************************/
.wrapMessageBox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.messageInput {
    width: 70%;
    margin-bottom: 15px;
}
.messageButton {
    width: 10%;
    min-width: 70px;
    height: 36px;
    margin-left: 2%;
}
.messageButtonEdit {
    width: 10%;
    min-width: 70px;
    height: 36px;
    margin-left: 2%;
}
.wrapMessageBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 1rem;
    margin-top: 5px;
    padding: 10px 10px 10px 0px;
}
.wrapMessageBoxContainerContent {
    display: flex;
    margin-bottom: 1%;
    margin-right: 2%;
    height: 36px;
    width: 60%;
    min-width: 150px;
    background-color: whitesmoke;
    border-radius: 5px;
}
.wrapMessageBoxContainerText {
    padding-left: 2%;
    padding-top: 1%;
}
.wrapMessageBoxContainerBtn {
    display: flex;
    flex-direction: row;
}
/********************wrapCard****************************/

.wrapStudy {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapStudyRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.wrapStudyRowItemLeft {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 270px;
    height: 528px;
    background-color: #565e64;
}

.wrapStudyRowItemLeft:hover, .wrapStudyRowItemLeft:focus, .wrapStudyRowItemLeft:active{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.wrapStudyRowItemImg {
    margin-top: 5px;
    width: 250px;
    height: auto;
 }
.wrapStudyRowItemRight {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 270px;
    height: 528px;
    background-color: #bacbe6;
}

.wrapStudyRowItemRight:hover, .wrapStudyRowItemRight:focus, .wrapStudyRowItemRight:active{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
/**HEADER**/


.headerLogo { /*сам логотип*/
    height: 30px;
    width: 30px;
    transform: rotate(0grad);
    animation-name: headerLogoAnimation;
    animation-duration: 2s;
}

@keyframes headerLogoAnimation {
    0% {
        transform: rotate(0grad);
    }
    100% {
        transform: rotate(720grad);
    }
}

